<!DOCTYPE html>
<html lang="es">

<head>
    <title>Node js with Express.js</title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="page-wrap">
        <header class='cabecera' id='h1'> Servicios API RestFul con node JS y Express.js </header>
        <section class='main' id='s1'><%- body %>
        </section>
        <footer class='pie' id='f1'>
            <a href="#" target="_blank">Api RESTful</a>
        </footer>
    </div>
</body>

</html>